accelerate==0.27.2
numpy==1.26.4
timm==0.6.13
transformers==4.37.2
timm==0.6.13
einops==0.7.0
open3d==0.18.0
opencv-python==4.7.0.72
tqdm==4.64.1
torchprofile==0.0.4
matplotlib==3.6.2
transformers==4.37.2
huggingface-hub==0.20.3
onnx==1.13.1
onnxruntime==1.14.1
onnxsim==0.4.35
llama-cpp-python
scipy==1.12.0
openai==1.12.0
litellm==1.25.2
pycocotools==2.0.6
